{%  extends 'base.html.twig' %}

{% block content %}

 {% for movie in movies %}
     <ul class="list-group">
     <li class="list-group-item"><a href="{{ path('editmovie',{id:movie.id}) }}">{{ movie.name }}</a></li>
     <li class="list-group-item">{{ movie.year }}</li>
     <li class="list-group-item">{{ movie.watched }}</li>
     <img src="{{ asset('uploads/images/') ~ movie.image }}" alt="Girl in a jacket" width="150" height="225">
     <li class="list-group-item"><a class="btn btn-danger" href="{{ path('deletemovie',{id:movie.id}) }}">Delete</a></li>
 {% endfor %}


    <a class="btn btn-primary" href="{{ path('movie') }}">Add movie</a>

{% endblock %}