{% extends 'base.html.twig' %}

{% block content %}

    {{ form_start(editmovie) }}
    <div class="my-custom-class-for-errors">
        {{ form_errors(editmovie) }}
    </div>

    <div class="mb-3">
        <label for="name" class="form-label">Name</label>
        {{ form_widget(editmovie.name) }}

    </div>
    <div class="mb-3">
        <label for="year" class="form-label">Year</label>
        {{ form_widget(editmovie.year) }}
    </div>
    <div class="mb-3">
        <label for="image" class="form-label">Image</label>
        {{ form_widget(editmovie.image) }}
    </div>
    <div class="mb-3 form-check">
        <label for="watched" class="form-label">Watched?</label>
        {{ form_widget(editmovie.watched) }}
    </div>
    {{ form_end(editmovie) }}

{% endblock %}